@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Essa aplicação tem como finalidade executar o Teste prático para Desenvolvedor BACK END</a>.</p>
</div>
